{% extends "hulud/views/templates/base.html" %}
{% block content %}
  {% for item in posts %}
    <h3><a href="{{servlet-context}}/post/{{item.id}}">{{item.title}}</a></h3>
    {{item.content|safe}}
  {% endfor %}
  <ul class="pagination">
    {% ifequal page "1" %}
      <li class="disabled"><a href="#">&laquo;</a></li>
    {% else %}
      <li><a href="/page/{{prev}}">&laquo;</a></li>
    {% endifequal %}
  {% for i in page-range %}
    {% ifequal page i %}
    <li class="active"><a href="#" >{{i}}<span class="sr-only">(current)</span>
      </a></li>
    {% else %}
    <li><a href="/page/{{i}}">{{i}}</a></li>
    {% endifequal %}
  {% endfor %}
    {% ifequal page pagelast %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
      <li><a href="/page/{{next}}">&raquo;</a></li>
    {% endifequal %}
  </ul>
{% endblock %}
