{% extends "hulud/views/templates/base.html" %}

{% block content %}
 {% if error %}
 <p>{{error}}</p>
 {% endif %}
 <ul>
  {% for item in posts %}
  <li>
    <h3>{{item.title}}</h3>
    <p>{{item.content}}</p>
    <time>{{item.timestamp|date:"yyyy-MM-dd HH:mm"}}</time>
  </li>
 {% endfor %}
 </ul>

 <form action="/" method="POST">
 <p> Title: <input type="text" name="name" value={{title}}> </p>
 <p> Content: <textarea rows="4" cols="50" name="message"> {{content}} </textarea> </p>
 <input type="submit" value="comment">
 </form>
{% endblock %}

